<%=
  form_with(
    model: @onboarding,
    url: user_registration_path,
    class: 'flex flex-col gap-4 align-between justify-between min-h-full'
  ) do |form| 
%>
  <div>

    <h3 class="text-3xl font-bold mb-3">
      Personal info
    </h3>
    <span class="block text-base mb-10">
      Please provide your name, email address, and phone number.
    </span>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Name:',
          key: :user_name,
          form_helper: form.text_field(:user_name, { placeholder: Faker::Name.name }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Email Address:',
          key: :user_email,
          form_helper: form.email_field(:user_email, { placeholder: Faker::Internet.email }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Phone Number:',
          key: :user_phone,
          form_helper: form.telephone_field(:user_phone, { placeholder: '3002341234' }),
          error_message: 'here is for error message'
        }
      )
    %>
  </div>

  <div class="w-full flex justify-end">
    <%= form.submit 'Next Step', class:'btn-next' %>
  </div>
<% end %>

<%#= render "users/shared/links" %>