<%=
  form_with(
    model: @user,
    url: user_registration_path(@user),
    class: 'flex flex-col align-between justify-between min-h-full'
  ) do |form| 
%>
  <div>

    <h3 class="text-2xl font-bold mb-2">
      Create a new user with account
    </h3>
    <span class="block text-sm mb-4">
      Please provide your name, email address, and phone number.
    </span>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Name:',
          key: :name,
          form_helper: form.text_field(
            :name,
            {
              placeholder: Faker::Name.name,
              class: "
                form-input
                w-full
                focus:outline-none
                focus:shadow-outline
                #{resource.errors.messages[:name].empty? ? 'border-purple' : 'border-red-600'}
              "
            }
          ),
          error_message: resource.errors.messages[:name].first
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Email Address:',
          key: :email,
          form_helper: form.email_field(
            :email,
            {
              placeholder: Faker::Internet.email,
              class: "
                form-input
                w-full
                focus:outline-none
                focus:shadow-outline
                #{resource.errors.messages[:email].empty? ? 'border-purple' : 'border-red-600'}
              "
            }
          ),
          error_message: resource.errors.messages[:email].first
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Phone Number:',
          key: :phone_number,
          form_helper: form.telephone_field(
            :phone_number,
            {
              placeholder: '3005555555',
              class: "
                form-input
                w-full
                focus:outline-none
                focus:shadow-outline
                #{resource.errors.messages[:phone_number].empty? ? 'border-purple' : 'border-red-600'}
              "
            }
          ),
          error_message: resource.errors.messages[:phone_number].first
        }
      )
    %>

    <div class="w-full flex justify-between">
      <%=
        render(
          partial: 'partials/form_components/input_with_helper',
          locals: {
            form:,
            label_text: 'Password:',
            key: :password,
            form_helper: form.password_field(
            :password,
            {
              placeholder: '******',
              class: "
                form-input
                focus:outline-none
                focus:shadow-outline
                #{resource.errors.messages[:password].empty? && resource.errors.messages[:password_confirmation].empty? ? 'border-purple' : 'border-red-600'}
              "
            }
          ),
            error_message: resource.errors.messages[:password].first || resource.errors.messages[:password_confirmation].first
          }
        )
      %>

      <%=
        render(
          partial: 'partials/form_components/input_with_helper',
          locals: {
            form:,
            label_text: 'Confirm Password:',
            key: :password_confirmation,
            form_helper: form.password_field(
            :password_confirmation,
            {
              placeholder: '******',
              class: "
                form-input
                focus:outline-none
                focus:shadow-outline
                #{resource.errors.messages[:password].empty? && resource.errors.messages[:password_confirmation].empty? ? 'border-purple' : 'border-red-600'}
              "
            }
          ),
            error_message: resource.errors.messages[:password].first || resource.errors.messages[:password_confirmation].first
          }
        )
      %>
    </div>

  </div>

  <div class="w-full flex justify-between align-center">
    <%=
      link_to(
        "Continue/start an onboading",
        new_user_session_path,
        class: 'blue-link'
      )
    %>

    <%= form.submit 'Next Step', class:'btn-next' %>
  </div>
<% end %>
