<%=
  form_with(
    model: @user,
    url: user_registration_path(@user),
    class: 'flex flex-col align-between justify-between min-h-full'
  ) do |form| 
%>
  <div>

    <h3 class="text-2xl font-bold mb-3">
      Personal info
    </h3>
    <span class="block text-sm mb-8">
      Please provide your name, email address, and phone number.
    </span>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Name:',
          key: :name,
          form_helper: form.text_field(:name, { placeholder: Faker::Name.name }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Email Address:',
          key: :email,
          form_helper: form.email_field(:email, { placeholder: Faker::Internet.email }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Phone Number:',
          key: :phone_number,
          form_helper: form.telephone_field(:phone_number, { placeholder: '3002341234' }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Password:',
          key: :password,
          form_helper: form.password_field(:password, { placeholder: '******' }),
          error_message: 'here is for error message'
        }
      )
    %>

    <%=
      render(
        partial: 'partials/form_components/input_with_helper',
        locals: {
          form:,
          label_text: 'Confirm Password:',
          key: :password_confirmation,
          form_helper: form.password_field(:password_confirmation, { placeholder: '******' }),
          error_message: 'here is for error message'
        }
      )
    %>
  </div>

  <div class="w-full flex justify-end">
    <%= form.submit 'Next Step', class:'btn-next' %>
  </div>
<% end %>
